*{
    margin: 0
    ;
    padding: 0;

}
ul {
    list-style: none;
    border-top: 2px solid rgb(89, 88, 88);
    width: 200px;
    color: rgb(89, 88, 88);
    
}
li{
    padding: 10px;
}
nav{
    color: rgb(89, 88, 88);
}
